# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Streamlit local files
.streamlit/

# Logs
*.log